In [1]:
import pandas as pd
import sklearn  as sns

In [2]:
df = pd.read_csv('loan.csv')
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [8]:
import seaborn as sns

In [10]:
en_data = df[['Gender', 'Married']]

In [11]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  614 non-null    bool
 1   Gender_Male    614 non-null    bool
 2   Married_No     614 non-null    bool
 3   Married_Yes    614 non-null    bool
dtypes: bool(4)
memory usage: 2.5 KB

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
ohe = OneHotEncoder(drop = 'first')
arr = ohe.fit_transform(en_data).toarray()

In [14]:
pd.DataFrame(arr, columns = ['Gender_female','Gender_male','Married_yes','married_no'])

     Gender_female  Gender_male  Married_yes  married_no
0              1.0          0.0          0.0         0.0
1              1.0          0.0          1.0         0.0
2              1.0          0.0          1.0         0.0
3              1.0          0.0          1.0         0.0
4              1.0          0.0          0.0         0.0
..             ...          ...          ...         ...
609            0.0          0.0          0.0         0.0
610            1.0          0.0          1.0         0.0
611            1.0          0.0          1.0         0.0
612            1.0          0.0          1.0         0.0
613            0.0          0.0          0.0         0.0

[614 rows x 4 columns]